*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

button {
    all: unset;
}


/*utilities*/

    .border-radius-20 {
        border-radius: 20px;
    }

    /*display*/

    .display-none {
        display: none;
    }

    .display-block {
        display: block;
    }

    /*display-end*/

    /*width-height*/

        .width-100 {
            width: 100%;
        }

        .width-35 {
            width: 35px;
        }

        .width-76 {
            width: 76px;
        }

        .height-100 {
            height: 100%;
        }

        .height-50 {
            height: 50%;
        }

        .height-35 {
            height: 35px;
        }

    /*width-height-end*/

    /*colors*/

        .color-white {
            color: white;
        }

        .color-lightgray {
            color: rgb(206, 203, 203);
        }

    /*colors-end*/

    /*padding*/
        .padding-5-0 {
            padding: 5px 0;
        }

        .padding-10 {
            padding: 10px;
        }

        .padding-30 {
            padding: 30px;
        }

        .padding-0-40 {
            padding: 0 40px;
        }

        .padding-top-6 {
            padding-top: 6px;
        }

        .padding-top-10 {
            padding-top: 10px;
        }

        .padding-bottom-7 {
            padding-bottom: 7px;
        }

        .padding-bottom-10 {
            padding-bottom: 10px;
        }

        .padding-left-20 {
            padding-left: 20px;
        }

    /*padding-end*/

    /*margin*/
        
        .margin-right-5 {
            margin-right: 5px;
        }

        .margin-0-10 {
            margin: 0 10px;
        }

    /*margin-end*/

    /*fonts*/

        .font-13 {
            font-size: 13px;
        }

        .font-15 {
            font-size: 15px;
        }

        .font-45 {
            font-size: 45px;
        }

        .font-30 {
            font-size: 30px;
        }

        .font-20 {
            font-size: 20px;
        }

        .font-12 {
            font-size: 12px;
        }

    /*fonts-end*/

    /*flexbox*/

        .flex {
            display: flex;
        }

        .align-items-center {
            align-items: center;
        }

        .flex-column {
            flex-direction: column;
        }

        .justify-center {
            justify-content: center;
        }

        .space-around {
            justify-content: space-around;
        }

        .space-between {
            justify-content: space-between;
        }

        .flex-end {
            justify-content: flex-end;
        }

    /*flexbox*/

/*utilities*/



.wrapper {
    width: 100vw;
    height: calc(100vh - 100px);
    position: relative;
}

/*aside*/

    aside {
        width: 50px;
        background-color: black;
    }

    .logo {
        width: 150px;
        padding-bottom: 20px;
    }

    .logo-s, .home, .search, .library, .user-content {
        padding: 7px;
    }

    .list {
        overflow-y: auto;
    }
     
    ul {
        list-style: none;
    }

    .profile-img {
        background-color: gray;
        padding: 1px;
        height: 35px;
        width: 35px;
    }

    .download-img {
        height: 27px;
        width: 27px;
        margin-left: 2px;
    }

/*aside-end*/

/*main-header*/

    header {
        width: calc(100% - 50px);
        height: 100px;
        background-color: rgb(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        right: 0;
    }

    main {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100vw - 50px);
        background-color: yellow;
    }

    .contents {
        background-color: blueviolet;
        padding: 100px 15px 15px 15px;
        overflow-y: auto;    
    }

    button {
        background-color: transparent;
        border: 2px solid white;
    }
    

/*main-header-end*/

/*footer*/

    footer {
        background-color: rgb(40, 40, 40);
        height: 100px;
        width: 100vw;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .col-20, .col-40 {
        width: 33%;
    }

    .player-icons {
        max-width: 240px;
    }

    .progress-bar, .sound-bar {
        height: 5px;
        background-color: rgba(225,225,225,0.2);
        cursor: pointer;
    }

    .progress-bar {
        width: 80%;
    }

    .sound-bar {
        width: 50%;
        margin-left: 10px;
    }

    .played-time, .volume {
        width: 20%;
        background-color: rgba(225,225,225,0.75);
        position: relative;
    }

    .progress-bar-cursor {
        display: none;
    }
/*footer-end*/

/*hover*/

.progress-bar:hover .played-time {
    background-color: rgb(135, 248, 28);
}

.progress-bar:hover .progress-bar-cursor {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: rgba(225,225,225);
    transform: translateY(-50%);
}

/*hover-end*/


/*media*/

    @media screen and (min-width: 639px) {
        aside {
            width: 220px;
        }

        header {
            width: calc(100% - 220px);
        }

        main {
            width: calc(100vw - 220px);
        }

        .short {
            display: none;
        }

        .extended, .play-list {
            display: block;
        }

        .padding-15 {
            padding: 15px;
        }

        .song-name {
            display: flex;
        }

        .name {
            margin-left: 4px;
        }

    }

    @media screen and (min-width: 876px) {
        .col-20 {
            width: 30%;
        }

        .col-40 {
            width: 35%;
        }

        .heart {
            display: inline;
            margin-right: 5px;
        }
    }

    @media screen and (min-width: 1200px) and (min-width: 1440px) {
        .col-20 {
            width: 20%;
        }

        .col-40 {
            width: 40%;
        }
    }

/*media-end*/